export SECRET_KEY=your-very-secret-key

# SETTINGS

export DB_NAME=database_name
export DB_USER=database_user_name
export DB_USER_PASSWORD=database_password
export DB_HOST=host address
export DB_PORT=port

# MAIL

export HOST=mailer_host
export HOST_USER=mail_login
export HOST_PASSWORD=mail_password
export PORT=mail_port
export RECIPIENT=recipient_mail_address

# CELERY

export CELERY_BROKER_URL='redis://127.0.0.1:6379'