<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% if user.is_authenticated %}
<li class="last"> {{user.username}} | <form method="post" action="{% url 'logout' %}">
    {% csrf_token %}
    <button type="submit">logout</button>
</form></li>
{% else %}
<li class="last"><a href="{% url 'login' %}">Войти</a></li>
{% endif %}
<p>Добро пожаловать на портал регистрации участников ежегодной конференции партнеров НДА Деловая Медицинская компания</p>
<a href="{% url 'person_add' %}">Регистрация</a>
<a href="{% url 'list_registered' %}">Переход на страницу партнеров</a>
<a href="{% url 'delete' %}">Удалить запись</a>
</body>
</html>